# Ignore all files in the current directory
*

# do NOT ignore files with these extensions
!*.c
!*.h
!*.gitignore
!Makefile
!README.md

# If executables are always in a specific folder (e.g., /bin)
bin/